<li class="product-item">
    <div class="product">
      <div class="product-details">
        <img [src]="getImageUrl(product())" [alt]="product().name" />
        <div class="product-info">
          <div class="name">{{product().name}}</div>
          <div class="description">{{product().description}}</div>
          <div class="category">Part Type: </div>
        </div>
      </div>
      <div class="price">
          <div [ngClass]="getDiscountedClasses(product())">{{product().price | currency:'EUR' }}</div>
          <div *ngIf="product().discount > 0" class="discount">{{(product().price * (1 - product().discount)) | currency:'EUR' }}</div>
        <button class="cta" (click)="buyButtonClicked(product())">Buy</button>
      </div>
    </div>
  </li>
