<div class="container">
  <div class="left">
    <img class="logo" src="/images/logo.png" alt="Logo" />
    <a routerLinkActive="active" routerLink="/home">Home</a>
    <a routerLinkActive="active" routerLink="/catalog">Catalog</a>
    <div class="cart">
      <a routerLinkActive="active" routerLink="/cart">Cart</a>
    </div>
  </div>
  <div class="right" *ngIf="!this.user()">
    <a routerLinkActive="active" routerLink="/sign-in">Sign In</a>
    <a href="" class="cta">Register</a>
  </div>
  <div class="right" *ngIf="this.user()">
    <div>
      <img src="/images/profile.png" (click)="toggleSignOutMenu()" alt="profile">
      <div class="sign-out" *ngIf="this.showSignOutMenu()">
        <button (click)="signOut()">
          Sign Out
        </button>
      </div>
    </div>
  </div>
</div>