<div class="container">
    <div class="filters">
      <a routerLink="/catalog" routerLinkActive="active" [queryParams]="{filter: 'Heads'}" class="button">Heads</a>
      <a routerLink="/catalog" routerLinkActive="active" [queryParams]="{filter: 'Arms'}" class="button">Arms</a>
      <a routerLink="/catalog" routerLinkActive="active" [queryParams]="{filter: 'Torsos'}" class="button">Torsos</a>
      <a routerLink="/catalog" routerLinkActive="active" [queryParams]="{filter: 'Bases'}" class="button">Bases</a>
      <a routerLink="/catalog" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="button">All</a>
    </div>
  
    <ul class="products">
      @for (product of getFilteredResults(); track product.id) {
        <app-product-details [product]="product" (buy)="addToCart(product)" />
      }
    </ul>
  </div>