<div class="container">
  <form class="form" #signInForm="ngForm" (ngSubmit)="signIn()">
    <img class="logo" src="/images/logo.png" />
    <div class="sign-in">Sign In</div>
    <div class="sub-text">to acquire awesome bots</div>
    <input
      name="email"
      required
      placeholder="Email Address"
      type="text"
      #email="ngModel"
      [(ngModel)]="credentials().email"
    />
    <em class="error"*ngIf="email.invalid && email.touched">Email address is required.</em>
    <input
      name="password"
      required
      placeholder="Password"
      type="password"
      #password="ngModel"
      [(ngModel)]="credentials().password"
    />
    <em class="error" *ngIf="password.invalid && password.touched">Password is required.</em>
    <div class="buttons">
      <button type="submit"class="button cta" [disabled]="signInForm.form.invalid">
        Sign In
      </button>
    </div>
    @if (signInError()) {
      <div class="signInError">
        Sign-In failed. Please try again.
      </div>
    }
  </form>
</div>
